- comment ||= @comment

#new_comment.hidden
  - less_remote_form_for(:comment, :url => profile_comments_path(@profile), :html => { :id => "#{dom_id(@profile)}_comment_form"} ) do |f| 
    #thickbox_form
      = f.text_area :comment
      To include a youtube video use: [youtube: address_of_video]
      .row.button= f.submit 'Add Comment', :class=>"button"
      .clear